body {
  font-family: "Space Grotesk", sans-serif;
  color: #e1e2ef;
  background-color: #000;
}

.h1b {
  text-align: center;
}

.buttonbox {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #ffe8d6;
  border-radius: 5px;
  border-width: 0 0 5px 5px;
  font-size: large;
  margin: 1em;
  padding: 3%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-color: #fdb0ac;
}

.button span {
  cursor: pospace + grotesque;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  border-color: #ff6b6b;
  background-color: beige;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

h1 {
  margin-left: 1em;
}

p {
  margin-left: 40px;
}

.p2b {
  text-align: center;
  margin: auto;
  padding: 30px 0 50px;
  font-size: 20px;
  font-weight: bold;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
  font-size: large;
  color: #000;
  font-weight: 900;
}
.box {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
  margin: auto auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
@media (min-width: 769px) {
  .box {
    width: 50%;
  }
}

.containz {
  width: auto;
  background: hsla(167, 68%, 73%, 1);

  background: linear-gradient(
    90deg,
    hsla(167, 68%, 73%, 1) 0%,
    hsla(178, 59%, 48%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(167, 68%, 73%, 1) 0%,
    hsla(178, 59%, 48%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(167, 68%, 73%, 1) 0%,
    hsla(178, 59%, 48%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8DE9D5", endColorstr="#32C4C0", GradientType=1 );

  border-radius: 15px;
  align-items: center;
  margin: auto;
  padding: 15px 70px 15px 70px;
}

.h2b {
  text-align: center;
  margin: auto;
  font-size: 400%;
  font-weight: 100;
  font-family: "Space Grotesk", sans-serif;
}
@media (min-width: 769px) {
  .h2b {
    font-size: 500%;
  }
}

.App-header {
  background-color: #fff;
  padding: 5px;
  color: #000;
  display: flex;
  align-items: center;
}

.App-intro {
  font-size: medium;
}

.a {
  text-decoration: none;
  color: #000;
}

#tsparticles {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
